.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-36 {
  font-size: 36px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-52 {
  font-size: 52px !important;
}
.fs-64 {
  font-size: 64px !important;
}

.fw-light {
  font-weight: 300 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-600 {
  font-weight: 600;
}
.fw-semibold {
  font-weight: 500 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic !important;
}

.font-base {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

// desktop
// display
.des-d-l {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -0.02em;
}
.des-d-m {
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

// headline
.des-head-xl {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.des-head-l {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.des-head-m {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.des-head-s {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
}

.des-head-xs {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.des-head-xxs {
  font-size: 20px;
  line-height: 28px;
}

// mobile headline
.m-head-xl {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.m-head-l {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.m-head-m {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
}

.m-head-s {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.m-head-xs {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.m-head-xxs {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

// body
.text-xl {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;
}

.text-l {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.text-m {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
}
.text-s {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.text-xs {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
}
